:root {
    --shadow-color: rgba(0, 0, 0, .2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    text-transform: capitalize;
    transition: .2s linear;
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    background-color: white;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: white;
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo {
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
    cursor: pointer;
    margin-right: auto;
    bottom: 20px;
}

.header img {
    width: 55px;
    margin-right: 10px;
}

.navbar a {
    position: relative;
    font-size: 1rem;
    color: grey;
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a {
    color: #b7b7a4;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    border-radius: 5px;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: #22387b;
}

.container h1 {
    flex: 1;
}

.container .box {
    display: flex;
    color: grey;
    margin: 50px;
    margin-top: 70px;
    align-items: center;
}

.img {
    float: right;
}

span {
    color: #1F3984;
}

.balap {
    width: 631px;
    height: -4px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.015em;
    color: #919191;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.balap1 {
    width: 723px;
    height: 264px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 138%;
    text-transform: capitalize;
    color: #181F1C;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.balapi {
    margin-left: 37px;
    margin-top: 102px;
    width: 681px;
    height: 41px;
}

.balap1 span {
    color: #1F3984;
}

.balapin {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    align-items: center;
    margin-right: 130px;
    position: relative;
}

.balapin img {
    width: 320px;
    height: 320px;
    margin-top: -60px;
}


.gambarkecil {
    height: 250px;
    width: 200px;
    position: absolute;
    right: 340.5px;
    box-shadow: 0 0 0px 0px #888;
    top: 175.9px;
}

.gambarsamping {
    width: 100.45px;
    height: 90.45px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    position: absolute;
    left: 1040px;
    top: 132.8px;
    background: url(unnamed);
    filter: drop-shadow(0.771459px 6.17167px 46.2875px rgba(0, 0, 0, 0.1));

}

.but {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 22px;
    gap: 5px;
    width: 302px;
    height: 55px;
    background: #1F3984;
    border-radius: 5px;
    cursor: pointer;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
    justify-content: center;
    color: white;
    position: absolute;
    top: 500px;
    left: 60px;
}

.but:hover {
    background-color: #22387b;
}

.content2 {
    padding-left: 145px;
    padding-top: 90px;
    line-height: normal;
    border-radius: 15px;
}

.kotak {
    background-color: #fff;
    width: 1000px;
    height: 260px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    padding: 10px;
    box-shadow: 0 0 10px rgb(197, 197, 197);
}

.kotak p {
    text-align: center;
    font-weight: bolder;
}

.progress-bar {
    width: 100%;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.progress {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #22387b;
    transition: width 0.3s ease-in-out;
}

.percentage {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    font-weight: bold;
    color: #1F3984;
}

.progress2 {
    background-color: #1F3984;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    padding-top: 15px;
    margin-top: 40px;
    color: #fff;
}

.total {
    border-radius: 10px;
    width: 93%;
    height: 100px;
    list-style: none;
    margin-inline-start: 30px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    line-height: 200%;
}

.container-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.container-slide h1 {
    font-size: 40px;
}

.container-slide .slide-wrapper {
    position: relative;
    max-width: 90rem;
    width: 80%;
    padding: 5rem;
}

.slide-wrapper .slide-box {
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.slide-content .slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fdfdfd;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.2rem var(--shadow-color);
    padding: 2rem;
    border-top: .8rem solid #22387b;
    border-bottom: .8rem solid #22387b;
}

.slide-box .swiper-button-next,
.slide-box .swiper-button-prev {
    color: #22387b;
}

.Information {
    margin: 70px;
}

.Information h1 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    color: #919191;
    font-size: 25px;
    margin-bottom: 50px;
}

.container-card {
    margin-right: 410px;
    margin-left: 20px;
    padding: 30px 4%;
}

.radius-5 {
    margin-top: 37px;
    margin-right: 120px;
    width: 20.9%;
    bottom: 100px;
    float: right;
    border-radius: 10px;
}

.radius-5:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    border-radius: 10px;
    transform: scale(1.0);
}

.container-card .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 6fr));
    gap: 30px;
}

.container-card .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background: #fff;
    width: 270px;
    height: 307px;
    margin-right: 00px;
    padding: 10px 20px;
}

.container-card .box-container .box .radius {
    background-color: #1F398426;
    width: 65px;
    height: 65px;
    margin-right: 20px;
    margin: 20px 20px;
    border-radius: 100%;
    margin-bottom: 30px;
}

.container-card .box-container .box .radius img {
    height: 40px;
    width: 45px;
}

.container-card .box-container .box h3 {
    color: #333;
    font-size: 22px;
    padding: 10px 0;
}

.container-card .box-container .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.container-card .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.0);
}

.radius img {
    width: 40px;
    margin-top: 15.5px;
    margin-left: 11px;
}

.card-content {
    margin-left: 15px;
    font-size: 16px;
    line-height: 1.5;
}

.card-content p {
    color: #999999;
}

.card-content img {
    position: relative;
    left: 59%;
    bottom: 50px;
    width: 50%;
}

.radius-1 img {
    opacity: 0.11;
}

.radius-2 img {
    color: #706d6d;
    opacity: 0.11;
    width: 50%;
    height: 50%;
    bottom: 70px;
    margin-left: 1px;
}

.radius-3 img {
    opacity: 0.11;
    width: 55%;
    height: 55%;
    bottom: 107px;
    left: 55%;
}

.radius-4 img {
    width: 55%;
    opacity: 0.11;
    height: 55%;
    bottom: 108.5px;
    left: 54.5%;
}

.container-wrapper {
    margin: 70px;
}

.container-wrapper h1 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-waqaf {
    padding: 50px 7%;
}

.container-waqaf .box-container-waqaf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 9fr));
    gap: 30px;
}

.container-waqaf .box-container-waqaf .box-waqaf {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background: #fff;
    width: 500px;
    margin-right: 200px;
    padding: 50px 40px;
}

.container-waqaf .box-container-waqaf .box-waqaf:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.0);
}

.waqaf-content {
    margin-left: 15px;
    font-size: 16px;
    line-height: 1.5;
}

.waqaf-content p {
    color: grey;
}

.container-data {
    margin: 70px;
}

.container-data h1 {
    font-size: 37px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-waqaf {
    padding: 50px 7%;
}

.container-table {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    max-height: 450px;
    overflow-y: auto;
}

table {
    display: flex;
    justify-content: center;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 7px 10px rgba(0, 0, 0, .2);
}

th,
td {
    width: 600px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    width: 900px;
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f5f5f5;
}

.container-galery {
    margin: 70px;
}

.container-galery h1 {
    font-size: 37px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-card-galery {
    padding: 25px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 30px;
    text-decoration: none;
}

.container-card-galery .box-card {
    background-color: #1F3984;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.container-card-galery .box-card li {
    list-style: none;
}

.container-card-galery .box-card li a i {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 90px;
    margin-top: 150px;
}

.container-card-galery .box-card h2 {
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-galery img {
    height: 450px;
    width: 370px;
}

footer {
    background-color: #001E42;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 15px;
}

.footer-title-body {
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    margin-left: 13px;
    color: white;
}

.footer-left img {
    width: 50px;
    height: 50px;
}


.address,
.call {
    position: relative;
    border-bottom: 1.5px solid #aca8a8;
    padding-bottom: 10px;
}

.footer-social-icons {
    margin-top: 10px;
    margin-left: 25px;
}

.footer-social-icons a i {
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.address {
    margin-top: 10px;
    margin-left: 35px;
    color: white;
}

.call {
    margin-top: 10px;
    margin-left: 35px;
    color: white;
}

.footer-right {
    display: flex;
    padding: 20px;
    margin-left: 15%;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-right h4 {
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}

.footer-right ul {
    padding: 0;
}

.footer-right li {
    color: #fff;
    font: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer-right a {
    margin-top: 15px;
    font-size: 16px;
    text-decoration: none;
    color: #fffafa;
}

.footer {
    background-color: #001E42;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 15px;
}

.footer-title-body {
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    margin-left: 13px;
    color: white;
}

.footer-left img {
    width: 50px;
    height: 50px;
}

.address,
.call {
    position: relative;
    border-bottom: 1.5px solid #aca8a8;
    padding-bottom: 10px;
}

.footer-social-icons {
    margin-top: 10px;
    margin-left: 25px;
}

.footer-social-icons a i {
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.address {
    margin-top: 10px;
    margin-left: 35px;
    color: white;
}

.call {
    margin-top: 10px;
    margin-left: 35px;
    color: white;
}

.footer-right {
    display: flex;
    padding: 20px;
    margin-right: 20%;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-right h4 {
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}

.footer-right ul {
    padding: 0;
}

.footer-right li {
    color: #fff;
    font: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer-right a {
    margin-top: 15px;
    font-size: 16px;
    text-decoration: none;
    color: #fffafa;
}

.footer-right-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    color: white;
}

.footer-right-box h4 {
    margin-top: 22px;
    font-size: 17px;
    margin-bottom: 10px;
}

.content-footer {
    width: 100%;
}

.content-footer form {
    width: 100%;
}

.name,
.email,
.msg,
.btn {
    margin-bottom: 15px;
}

.name input,
.email input,
.msg textarea,
.btn input[type="submit"] {
    border-radius: 7px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.msg textarea {
    resize: vertical;
    height: 100px;
}

.btn-footer {
    text-align: right;
    margin-bottom: 15px;
}

.btn-footer button[type="submit"] {
    background-color: #FFF500;
    color: #1F3984ff;
    padding: 10px 10px;
    font-size: 14px;
    width: 100px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.footer-copy {
    text-align: center;
    background-color: #FFFFFF;
    fill: solid;
    color: #001E42;
    width: 100%;
    padding: 15px;
}

.container-sodaqoh {
    margin: 0;
    padding: 0;
    background-color: #001E42;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-sodaqoh {
    background-color: #f5f5f5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
}

.box-header-sodaqoh {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.box-body-sadaqoh {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #001E42;
}

.btn-shodaqoh {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.btn-shodaqoh button[type="submit"] {
    background-color: #FFF500;
    color: #1F3984ff;
    padding: 10px 10px;
    font-size: 14px;
    width: 100px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.back {
    background-color: #001E42;
    float: right;
    padding: 10px 10px;
    width: 100px;
    color: #FFF500;
    border-radius: 7px;
}